<script>
  import { createEventDispatcher } from "svelte";
  import expenseList from "./expense-store.js";
  import Expense from "../models/expense";

  getExpenses()
    .then(expenses => expenseList.setExpenses(expenses))
    .catch(error => console.log(error));

  const dispatch = createEventDispatcher();

  async function getExpenses() {
    const res = await fetch(
      `https://api.airtable.com/v0/appSM9nq2W7kDxk4U/Expenses`,
      { headers: { Authorization: "Bearer keyhZ0tUHB7YudHUd" } }
    );
    if (res.ok) {
      return (await res.json()).records.map(x => new Expense(x));
    } else {
      throw new Error();
    }
  }

  function edit(expense) {
    dispatch('edit', { expense });
  }
  function remove(id) {
    expenseList.removeExpense(id);
  }
</script>

<style>

</style>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Budget</th>
      <th scope="col">Type</th>
      <th scope="col">Updated</th>
      <th style="text-align: center;" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {#each $expenseList as expense (expense.id)}
      <tr>
        <th>{expense.name}</th>
        <td>{expense.amount}</td>
        <td>{expense.budget}</td>
        <td>{expense.expenseType}</td>
        <td>{expense.date}</td>
        <td style="text-align: center; max-width: 25px">
          <i class="fa fa-edit" on:click={edit.bind(this, expense)} />
          <i class="fa fa-times" on:click={remove.bind(this, expense.id)} />
        </td>
      </tr>
    {/each}
  </tbody>
</table>
