<script>
  import { createEventDispatcher } from "svelte";
  import expenseList from "./expense-store.js";
  import Expense from "../models/expense";

  export let expense;

  const dispatch = createEventDispatcher();

  function save(expense) {
    if (expense.id) {
      expenseList.editExpense(expense);
    } else {
      expenseList.saveExpense(expense);
    }
    dispatch("cancel", true);
  }
</script>

<form>
  <div class="bg-secondary text-white p-4">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">name</label>
        <input type="text" class="form-control" bind:value={expense.name} />
      </div>
      <div class="form-group col-md-6">
        <label for="name">amount</label>
        <input type="text" class="form-control" bind:value={expense.amount} />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">budget</label>
        <input type="text" class="form-control" bind:value={expense.budget} />
      </div>
      <div class="form-group col-md-6">
        <label for="name">type</label>
        <input
          type="text"
          class="form-control"
          bind:value={expense.expenseType} />
      </div>
    </div>
    <label for="name">updated</label>
    <input
      type="text"
      readonly
      class="form-control"
      bind:value={expense.createdTime} />
  </div>
  <div class="m-4">
    <div class="row">
      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-lg btn-secondary btn-block"
          on:click={() => dispatch('cancel')}>
          Cancel
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          on:click={save.bind(this, expense)}
          class="btn btn-lg btn-primary btn-block">
          Save
        </button>
      </div>
    </div>
  </div>
</form>
