<script>
  import { airtable } from "./api";
  import ExpenseForm from "./expense/ExpenseForm.svelte";
  import ExpenseTable from "./expense/ExpenseTable.svelte";
  import Expense from "./models/expense";

  let expense = null;

  function editExpense(event) {
    expense = event.detail.expense;
  }
  function createExpense() {
	  expense = new Expense();
  }
</script>

<style>

</style>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Expenses:</h1>
      <div>
        {#if expense}
          <ExpenseForm on:cancel={() => expense = null} {expense} />
		{:else}
			<button class="btn btn-primary" on:click={createExpense}>Create Expense</button>
        {/if}
      </div>
        <ExpenseTable on:edit={editExpense} />
    </div>
  </div>
</div>
